<div class="container">
  <div class="max-width-600px m-0-auto">
    <h1 class="h1">Призвание жить прогрессивно!</h1>
    <p>Наша компания была основана в ноябре 2021 года. Мы поможем Вам решить вопрос с покупкой электрокара. </p>
    <p></p>
    <p></p>
    <p>Мы сотрудничаем со многими автомобильными брендами, которые имеют в своей линейке электрокары, оснащенные самыми передовыми технологиями</p>
    <p>Компания "Кk" - первая в РФ, представляющая "Lucid"</p>
    <p>Если желаемого автомобиля нет в наличии, то мы можем заказать практически любой автомобиль из Германии для Вас лично!</p>
    <p>Чтобы связаться с нами, перейдите на страницу <a class="link" href="/contacts">Контакты</a></p>
    <img src="/assets/img/imgpagemain.jpg" alt="">
    <p>Мы рады сообщить, что в феврале 2022 года наша команда запустит приложение с еще большими возможностями для вашего удобства! </p>
  </div>
</div>